@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="banner">
    <img height="400" width="400" src="images/demo.jpg" />
    
</section>

<section class="sec_include">
</section>
